In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('car_price.csv')
df.head()

  Car Model  Mileage  Price  Age
0    BMW X5    69000  18000    6
1    BMW X5    35000  34000    3
2    BMW X5    57000  26100    5
3    BMW X5    22500  40000    2
4    BMW X5    46000  31500    4

In [3]:
df = df.rename(columns={'Car Model':'Model'})   # rename the columns whose name contains space
df.head()

    Model  Mileage  Price  Age
0  BMW X5    69000  18000    6
1  BMW X5    35000  34000    3
2  BMW X5    57000  26100    5
3  BMW X5    22500  40000    2
4  BMW X5    46000  31500    4

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
dfle = df
dfle.Model = le.fit_transform(df.Model)
dfle

    Model  Mileage  Price  Age
0       1    69000  18000    6
1       1    35000  34000    3
2       1    57000  26100    5
3       1    22500  40000    2
4       1    46000  31500    4
5       0    59000  29400    5
6       0    52000  32000    5
7       0    72000  19300    6
8       0    91000  12000    8
9       2    67000  22000    6
10      2    83000  20000    7
11      2    79000  21000    7
12      2    59000  33000    5

In [7]:
X = dfle[['Model','Mileage','Age']].values
X

array([[    1, 69000,     6],
       [    1, 35000,     3],
       [    1, 57000,     5],
       [    1, 22500,     2],
       [    1, 46000,     4],
       [    0, 59000,     5],
       [    0, 52000,     5],
       [    0, 72000,     6],
       [    0, 91000,     8],
       [    2, 67000,     6],
       [    2, 83000,     7],
       [    2, 79000,     7],
       [    2, 59000,     5]], dtype=int64)

In [8]:
y = dfle.Price
y

0     18000
1     34000
2     26100
3     40000
4     31500
5     29400
6     32000
7     19300
8     12000
9     22000
10    20000
11    21000
12    33000
Name: Price, dtype: int64

In [9]:
from sklearn.preprocessing import OneHotEncoder

In [10]:
from sklearn.compose import ColumnTransformer

In [11]:
ct = ColumnTransformer([('Price',OneHotEncoder(),[0])],remainder='passthrough')

In [12]:
X = ct.fit_transform(X)
X

array([[0.00e+00, 1.00e+00, 0.00e+00, 6.90e+04, 6.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 3.50e+04, 3.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 5.70e+04, 5.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 2.25e+04, 2.00e+00],
       [0.00e+00, 1.00e+00, 0.00e+00, 4.60e+04, 4.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.90e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 5.20e+04, 5.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 7.20e+04, 6.00e+00],
       [1.00e+00, 0.00e+00, 0.00e+00, 9.10e+04, 8.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 6.70e+04, 6.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 8.30e+04, 7.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 7.90e+04, 7.00e+00],
       [0.00e+00, 0.00e+00, 1.00e+00, 5.90e+04, 5.00e+00]])

In [13]:
from sklearn.linear_model import LinearRegression
reg = LinearRegression()

In [33]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [34]:
reg.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [35]:
reg.predict(X_test)

array([28740.60720277, 11722.93785077, 23135.98898255])

In [36]:
reg.score(X_test,y_test)

0.9187315115147832

In [37]:
reg.predict([[0,1,0,35000,3]])

array([34345.225423])

In [38]:
reg.predict([[0,1,0,57000,5]])

array([23135.98898255])